.container {
	background-color: #eeffdd;
	margin: 0 auto;
	width: 80%;
}

img {
	margin-left: 50px;
}

h2 {
	text-align: center;
	font-size: 2.0em;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

nav ul li {
	margin: 20px;
}

nav ul li a{
	color: black;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 800px;
}

section div div {
	padding: 20px;
	width: 250px;
	height: 250px;
	line-height: 200px;
	background-color: #eee;
	margin: 10px;
	padding: 10px;
}

h4{
	text-align: center;
}

